<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Is it just Putin's war?</title>
    <meta name="description"
        content="whatisrussia.org tells the historical truth Russia doesn't want you to know. A collection of eyewitness accounts about Russia throughout history that gives you a deep understanding of its real societal order, imperialistic nature and historical fabrications.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Is it just Putin's war?">
    <meta itemprop="description"
        content="whatisrussia.org tells the historical truth Russia doesn't want you to know. A collection of eyewitness accounts about Russia throughout history that gives you a deep understanding of its real societal order, imperialistic nature and historical fabrications.">
    <meta itemprop="image" content="titlepics/whatisrussiameta.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://whatisrussia.org">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Is it just Putin's war?">
    <meta property="og:description"
        content="whatisrussia.org tells the historical truth Russia doesn't want you to know. A collection of eyewitness accounts about Russia throughout history that gives you a deep understanding of its real societal order, imperialistic nature and historical fabrications.">
    <meta property="og:image" content="titlepics/whatisrussiameta.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Is it just Putin's war?">
    <meta name="twitter:description"
        content="whatisrussia.org tells the historical truth Russia doesn't want you to know. A collection of eyewitness accounts about Russia throughout history that gives you a deep understanding of its real societal order, imperialistic nature and historical fabrications.">
    <meta name="twitter:image" content="titlepics/whatisrussiameta.png">

    <link rel="stylesheet" href="styles.css?1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,300italic,400,400italic,500,500italic,600,700,800&display=swap"
        rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="titlepics/favicon.ico">
    <script type="module" src="https://unpkg.com/mustache@4.2.0/mustache.min.js"></script>
</head>

<body id="template">

    <div class="menu">
        {{#notMainPage}}
        <a class="page-button" style='color:black' href="?{{lang}}">{{{miscStrings.mainPageLinkText}}}</a>
        {{/notMainPage}}
        {{#notAboutPage}}
        <div class="page-button">
            <a style='color:black' href="?{{lang}}-about">{{{miscStrings.aboutPageText}}}</a>
        </div>
        {{/notAboutPage}}
        {{#miscStrings.otherLanguageLinkUrl}}
        <div class="page-button">
            <a style='color:white' href="{{miscStrings.otherLanguageLinkUrl}}">{{miscStrings.otherLanguageLinkText}}</a>
        </div>
        {{/miscStrings.otherLanguageLinkUrl}}
    </div>

    {{#mainPage}}
    <div class="title">
        <img src="titlepics/tank.jpg" class="title-image">
        <div class="title-h1">
            <h1 class="font-h1">{{miscStrings.title}}</h1>
        </div>
        <div class="title-h3">
            <h3 class="font-h3">{{miscStrings.underTitle}}</h3>
        </div>
    </div>
    {{/mainPage}}

    <!-- about page -->
    {{#about}}
    <div class="about">
        <p class="about-title">{{{about.title}}}</p>
        <p class="about-text">{{{about.about}}}</p>
    </div>
    <div class="about-divider"></div>
    <div class="about">
        <p class="about-text">{{{about.more}}}</p>
        <div>
            {{#about.source}}
            <p class="about-text">• {{{.}}}</p>
            {{/about.source}}
        </div>
    </div>
    <div class="about-mail">
        <p class="about-mail-text" style="color: #d8d9d9">{{{about.contact}}}</p>
    </div>

    <p class="about-donate">{{{about.donate}}}</p>
    <p class="about-donate"></p>

    <div class="about">
        <a class="social-link" href="https://medium.com/@whatisrussiaorg"><img class="social-icon"
                src="titlepics/medium.png" /></a>
        <a class="social-link" href="https://www.instagram.com/whatisrussiaorg/"><img class="social-icon"
                src="titlepics/instagram.png" /></a>
        <a class="social-link" href="https://www.facebook.com/whatisrussiaorg"><img class="social-icon"
                src="titlepics/facebook.png" /></a>
        <a class="social-link" href="https://twitter.com/whatisrussiaorg"><img class="social-icon"
                src="titlepics/x-twitter.png" /></a>
    </div>
    {{/about}}

    <!-- ussr page -->
    {{#ussr}}
    <div class="current-author-desc">
        <div class="current-author">
            <div class="current-author-text">
                <img class="current-author-pic" src="authorpics/bahrianyi.png">
                <div class="clear"></div>
                <p class="current-author-signature">{{{ussr.name}}},</p>
                <p class="current-author-bio">{{{ussr.bio}}}</p>
                <br>
            </div>
        </div>
    </div>
    <div class="about-divider"></div>
    <div class="about">
        <p class="about-title">{{{ussr.title}}}</p>
        <div class="about-text">
            {{#ussr.text}}
            <p>{{{.}}}</p>
            {{/ussr.text}}
            <br>
        </div>
        <a class="page-button" style='color:black; font-size: 0.7em'
            href="?{{lang}}">{{{miscStrings.mainPageLinkText}}}</a>
    </div>
    {{/ussr}}

    <!-- Noblewoman page -->
    {{#noblewoman}}
    <div class="current-author-desc">
        <div class="current-author">
            <div class="current-author-text">
                <img class="current-author-pic" src="authorpics/lesyaukrainka.png">
                <div class="clear"></div>
                <p class="current-author-signature">{{{noblewoman.name}}},</p>
                <p class="current-author-bio">{{{noblewoman.bio}}}</p>
                <br>
            </div>
        </div>
    </div>
    <div class="about-divider"></div>
    <div class="about">
        <p class="about-title">{{{noblewoman.title}}}</p>
        <div class="about-text">
            {{#noblewoman.text}}
            <p>{{{.}}}</p>
            {{/noblewoman.text}}
            <br>
        </div>
        <a class="page-button" style='color:black; font-size: 0.7em'
            href="?{{lang}}">{{{miscStrings.mainPageLinkText}}}</a>
    </div>
    {{/noblewoman}}

    {{#mainPage}}
    <div class="authors-desc-container">
        <div class="authors-desc">
            {{#authors}}
            <div class="author-icon">
                {{#author}}
                <a class="author-button" href="?{{lang}}-{{author}}">
                    <img class="author-button-pic" src="authorpics/{{author}}.png">
                    <span class="author-button-text">{{{descname}}}</span>
                </a>
                {{/author}}
                {{#empty}}
                <img class="author-button-pic" src="authorpics/empty.png">
                {{/empty}}
            </div>
            {{/authors}}
        </div>
    </div>
    {{/mainPage}}

    {{#currentAuthor}}
    <div class="current-author-desc">
        <div class="current-author">
            <div class="current-author-text">
                <img class="current-author-pic" src="authorpics/{{author}}.png">
                <div class="clear"></div>
                <p class="current-author-signature">{{name}},</p>
                <p class="current-author-bio">{{{bio}}}</p>
                <p class="current-author-work">{{miscStrings.authorWork}}: <span>{{{source}}}</span></p>
                <br>
            </div>
        </div>
    </div>
    {{/currentAuthor}}

    <div class="divider"></div>

    {{#quotes}}
    <div class="bubble" id="{{slug}}">
        {{#notAuthorPage}}
        <div class="bubble-author">
            <p class="bubble-signature">
                {{signature}}<br>
                <span class="bubble-year">{{signatureYear}}</span>
            </p>
            <a href="?{{lang}}-{{author}}">
                <img class="avatar" src="authorpics/{{author}}.png">
            </a>
        </div>
        {{/notAuthorPage}}
        <p class="bubble-text">{{bubble}}</p>
    </div>
    <div class="quote">
        {{#paragraphs}}
        <p>{{.}}</p>
        {{/paragraphs}}
    </div>
    <div class="quote copy-link-container">
        <a class="copy-link" data-copy-link="{{slug}}">
            <img class="copy-link-img" src="titlepics/copylink.png">
            <div class="copy-link-tooltip">{{miscStrings.copyLinkOk}}</div>
        </a>
    </div>
    {{#pic}}
    <img src="{{pic}}" class="quote-pic">
    {{/pic}}
    {{^pic}}
    <div class="copy-link-nopic-container">
    </div>
    {{/pic}}
    <div class="divider"></div>
    {{/quotes}}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VF7PPHX9J9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VF7PPHX9J9');
    </script>

    <script src="about.js?1"></script>
    <script src="ussr.js?1"></script>
    <script src="noblewoman.js?1"></script>
    <script src="authors.js?1"></script>
    <script src="quotes.js?2"></script>
    <script src="signature.js?1"></script>
    <script src="miscStrings.js"></script>
    <script src="scripts.js?1"></script>
</body>

</html>
