body {
  background-color: #d8d9d9;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  height: 100%;
  margin: 0;
}

.clear {
  clear: both;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #30c76d;
  height: 40px;
  padding: 0.5em 20px;
  margin: 0;
}

.page-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-align: left;
  line-height: 1em;
  width: min-content;
}

.page-button:first-child:nth-last-child(2) {
  width: max-content;
}

.about {
  margin-left: 20px;
  margin-right: 20px;
}

.about-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
  font-weight: 800;
  text-align: center;
}

.about-divider {
  width: 100% !important;
  height: 0.25em;
  background-color: #30c76d;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.about-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  line-height: 1.5em;
  color: #1d211f;
  letter-spacing: 0.01em;
}

.about-mail {
  background-color: #30c76d !important;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.about-mail-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  color: #d8d9d9 !;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.about-donate {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.social-icon {
  margin-top: 1.5em;
  width: 2%;
  display: inline-block;
  margin-right: 1.5em;
}

.copy-link-container {
  display: flex;
  justify-content: flex-end;
}

.copy-link {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.copy-link-img {
  width: 2em;
  opacity: 0.6;
}

.copy-link-tooltip {
  display: inline-block;
  visibility: hidden;
  opacity: 1;
  background-color: #888;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 120%;
}

.copy-link-tooltip.active {
  visibility: visible;
  opacity: 0;
  transition: opacity 1s ease-out 1s;
}

.copy-link-tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #888;
}

.title {
  position: relative;
  margin: 0;
  padding: 0;
}

.title-image {
  width: 100%;
}

.title-h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-h3 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.font-h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #30c76d;
  white-space: nowrap;
}

.font-h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
  color: #d8d9d9;
  white-space: nowrap;
}

.authors-desc-container {
  width: 100%;
  overflow: hidden;
}

.authors-desc {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.4em;
  margin-left: 15px;
  margin-right: 15px;
}

.author-icon {
  width: calc(25% - 1.0em);
  padding: 0 0.5em;
  font-size: 0.8em;
  margin-bottom: 0.7em;
  text-align: center;
}

.author-button {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: none;
  background-color: #d8d9d9;
}

.author-button:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.author-button-pic {
  border: none;
  padding: 0;
  padding-bottom: 0.2em;
  width: 90%;
  margin: 0 auto;
}

.author-button-text {
  font-size: 0.7em;
  line-height: 1.3em;
  color: black;
  text-align: center;
  margin-top: -0.01em;
  font-weight: 300;
}

.current-author-desc {
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}

.current-author-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  line-height: 1.5em;
  color: #1d211f;
  letter-spacing: 0.01em;
}

.current-author-pic {
  border: none;
  width: 50%;
  float: right;
  margin-top: 1em;
}

.current-author-signature {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: -0.5em;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.current-author-bio {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.current-author-signature:before {
  border-top: 0.15em solid #30c76d;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.current-author-work {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-top: 0.5em;
  margin-bottom: -0.6em;
}

.quote-pic {
  display: block;
  max-width: 100%;
  height: auto;
}

.divider {
  height: 0.25em;
  width: 100%;
  background-color: #30c76d;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.quote {
  font-family: "Open Sans", sans-serif;
  color: #1d211f;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 1em;
  position: relative;
}

.quote p {
  line-height: 1.5em;
  margin-bottom: 2em;
}

.quote p:last-child {
  margin-bottom: 0;
}

.quote p:last-child::after {
  content: "\0022";
  font-size: 3.6em;
  font-weight: 700;
  font-style: italic;
  line-height: 0;
  color: #30c76d;
  position: relative;
  top: 0.65em;
  vertical-align: sub;
}

.bubble {
  padding-right: 20px;
  padding-left: 20px;
}

.avatar {
  width: 85px;
  margin-top: 0.5em;
  margin-left: 0.5em;
  cursor: pointer;
}

.bubble-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bubble-signature {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.7em;
  padding: 0;
  margin: 1em 0 0 0em;
}

.bubble-year {
  font-size: 1.4em;
  font-weight: 300;
  position: relative;
  z-index: 1;
}

.bubble-year:before {
  border-top: 0.3em solid #30c76d;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

.bubble-text {
  font-size: 1.3em;
  margin-top: 1.4em;
  font-weight: 700;
  text-indent: 1.1em;
  line-height: 1.3em;
  letter-spacing: 0.01em;
}

.bubble-text::before {
  content: "\0022";
  font-size: 2.8em;
  font-style: italic;
  line-height: 0.9em;
  color: #30c76d;
  position: absolute;
  left: -0.1em;
  margin-top: -0.25em;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#template {
  display: none;
}


.social-icon {
  width: 7%;
}


@media screen and (min-width: 600px) {
  .author-icon {
    width: calc(16.6% - 1.0em);
    padding: 0 0.5em;
  }

  .copy-link-img {
    width: 1.5em;
  }
}

/*phone*/

@media screen and (min-width: 300px) and (max-width: 359px) {
  .bubble-author {
    font-size: 100%;
  }

  .social-icon {
    width: 8%;
  }

  .copy-link-img {
    width: 1.2em;
  }

  .noblewoman {
    font-size: 90%;
  }
}

@media screen and (min-width: 360px) and (max-width: 395px) {
  .menu {
    font-size: 120%;
  }

  .title {
    font-size: 125%;
  }

  .bubble-author {
    font-size: 120%;
  }

  .quote p {
    font-size: 110%;
  }

  .about {
    font-size: 120%;
  }

  .current-author {
    font-size: 110%;
  }

  .authors-desc {
    margin-left: 14px;
    margin-right: 14px;
  }

  .social-icon {
    width: 8%;
  }

  .copy-link-img {
    width: 1.4em;
  }

  .noblewoman {
    font-size: 85%;
  }
}

@media screen and (min-width: 396px) and (max-width: 599px) {
  .menu {
    font-size: 130%;
  }

  .title {
    font-size: 135%;
  }

  .authors-desc {
    font-size: 110%;
    margin-left: 14px;
    margin-right: 14px;
  }

  .bubble {
    font-size: 125%;
  }

  .bubble-text::before {
    margin-left: -0.1em;
  }

  .quote p {
    font-size: 120%;
  }

  .about {
    font-size: 130%;
  }

  .current-author-desc {
    font-size: 110%;
  }

  .current-author {
    font-size: 120%;
  }

  .social-icon {
    width: 7%;
  }

  .copy-link-img {
    width: 1.5em;
  }
  .noblewoman {
    font-size: 80%;
  }
}

/*tablet*/
@media screen and (min-width: 600px) and (max-width: 767px) {
  .menu {
    font-size: 140%;
    padding: 0.5em 35px;
  }

  .title {
    font-size: 220%;
  }

  .authors-desc {
    font-size: 140%;
    margin-left: 18px;
    margin-right: 18px;
  }

  .bubble {
    font-size: 130%;
    padding-right: 35px;
    padding-left: 35px;
  }

  .bubble-text::before {
    left: 0.002em;
  }

  .quote p {
    font-size: 125%;
  }

  .about {
    font-size: 135%;
    margin-left: 35px;
    margin-right: 35px;
  }

  .about-mail-text {
    font-size: 135%;
    margin-left: 35px;
    margin-right: 35px;
  }

  .about-donate {
    font-size: 135%;
    margin-left: 35px;
    margin-right: 35px;
  }

  .current-author {
    font-size: 100%;
  }

  .current-author-desc {
    font-size: 140%;
    margin-left: 35px;
    margin-right: 35px;
  }

  .current-author-pic {
    width: 40%;
  }

  .quote {
    margin-left: 35px;
    margin-right: 35px;
  }

  .quote-pic {
    max-width: calc(100% - 70px);
    margin-left: 35px;
    margin-right: 35px;
  }

  .social-icon {
    width: 6%;
  }

  .copy-link-img {
    width: 1.8em;
  }

  .noblewoman {
    font-size: 90%;
  }
}

@media screen and (min-width: 760px) {
  .title-image {
    content: url("titlepics/tankdesktop.jpg");
  }

  .about-divider {
    height: 0.4em;
  }

  .divider {
    height: 0.4em;
  }

  .authors-desc {
    margin-top: 0.8em;
  }

  .author-icon {
    margin-bottom: 1.2em;
  }

  .bubble {
    margin-top: 0.5em;
  }

  .bubble-author {
    font-size: 160%;
    margin-left: 2.3em;
    margin-right: 2.3em;
    align-items: flex-end;
  }

  .bubble-year {
    font-weight: 400;
  }

  .social-icon {
    width: 4%;
  }

  .copy-link-img {
    width: 1.8em;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .menu {
    font-size: 100%;
    height: 30px;
    padding: 0.5em 45px;
  }

  .title {
    font-size: 190%;
  }

  .author-button-pic {
    width: 60%;
  }

  .authors-desc {
    font-size: 120%;
    margin-left: 8px;
    margin-right: 8px;
  }

  .bubble {
    font-size: 165%;
    padding-right: 45px;
    padding-left: 45px;
  }

  .bubble-text::before {
    margin-left: 0.1em;
  }

  .avatar {
    width: 200px;
  }

  .quote p {
    font-size: 140%;
  }

  .quote {
    margin-left: 45px;
    margin-right: 45px;
  }

  .about {
    font-size: 130%;
    margin-left: 45px;
    margin-right: 45px;
  }

  .about-mail-text {
    font-size: 130%;
    margin-left: 45px;
    margin-right: 45px;
  }

  .about-donate {
    font-size: 130%;
    margin-left: 45px;
    margin-right: 45px;
  }

  .current-author-pic {
    width: 30%;
  }

  .current-author-desc {
    font-size: 150%;
    margin-left: 45px;
    margin-right: 45px;
  }

  .current-author {
    font-size: 80%;
  }

  .font-h3 {
    font-size: 60%;
  }

  .author-icon {
    width: calc(16.6% - 1em);
  }

  .quote-pic {
    max-width: calc(100% - 90px);
    margin-left: 45px;
    margin-right: 45px;
  }

  .social-icon {
    width: 4%;
  }
}

/*desktop*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .menu {
    font-size: 110%;
    height: 30px;
    padding: 0.5em 55px;
  }

  .title {
    font-size: 260%;
  }

  .author-button-pic {
    width: 45%;
    padding-bottom: 0.1em;
  }

  .authors-desc {
    font-size: 150%;
    margin-left: -8px;
    margin-right: -8px;
  }

  .bubble {
    font-size: 160%;
    padding-right: 55px;
    padding-left: 55px;
  }

  .bubble-text::before {
    left: 0.08em;
  }

  .avatar {
    width: 200px;
  }

  .quote p {
    font-size: 135%;
  }

  .quote {
    margin-left: 55px;
    margin-right: 55px;
  }

  .about {
    font-size: 130%;
    margin-left: 55px;
    margin-right: 55px;
  }

  .about-mail-text {
    font-size: 130%;
    margin-left: 55px;
    margin-right: 55px;
  }

  .about-donate {
    font-size: 130%;
    margin-left: 55px;
    margin-right: 55px;
  }

  .current-author-pic {
    width: 25%;
  }

  .current-author-desc {
    font-size: 140%;
    margin-left: 55px;
    margin-right: 55px;
  }

  .current-author {
    font-size: 90%;
  }

  .font-h3 {
    font-size: 60%;
  }

  .author-icon {
    width: calc(16.6% - 1em);
    margin-bottom: 1.5em;
  }

  .quote-pic {
    max-width: calc(100% - 110px);
    margin-left: 55px;
    margin-right: 55px;
  }

  .bubble-author {
    font-size: 170%;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 1.2em;
  }

  .social-icon {
    width: 3%;
  }

  .copy-link-img {
    width: 2em;
  }
}

/*desktop*/
@media screen and (min-width: 1400px) {
  .menu {
    font-size: 110%;
    height: 30px;
    padding: 0.5em 65px;
  }

  .title {
    font-size: 290%;
  }

  .author-button-pic {
    width: 35%;
    padding-bottom: 0.1em;
  }

  .authors-desc {
    font-size: 150%;
    margin-left: -32px;
    margin-right: -32px;
  }

  .bubble {
    font-size: 160%;
    padding-right: 65px;
    padding-left: 65px;
  }

  .bubble-text::before {
    left: 0.2em;
  }

  .avatar {
    width: 200px;
  }

  .quote p {
    font-size: 135%;
  }

  .quote {
    margin-left: 65px;
    margin-right: 65px;
  }

  .about {
    font-size: 130%;
    margin-left: 65px;
    margin-right: 65px;
  }

  .about-mail-text {
    font-size: 130%;
    margin-left: 65px;
    margin-right: 65px;
  }

  .about-donate {
    font-size: 130%;
    margin-left: 65px;
    margin-right: 65px;
  }

  .current-author-pic {
    width: 20%;
  }

  .current-author-desc {
    font-size: 140%;
    margin-left: 65px;
    margin-right: 65px;
  }

  .current-author {
    font-size: 90%;
  }

  .font-h3 {
    font-size: 60%;
  }

  .author-icon {
    width: calc(16.6% - 1em);
    margin-bottom: 2em;
  }

  .quote-pic {
    max-width: calc(100% - 130px);
    margin-left: 65px;
    margin-right: 65px;
  }

  .bubble-author {
    font-size: 170%;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 1.2em;
  }

  .social-icon {
    width: 3%;
  }

  .copy-link-img {
    width: 2em;
  }
}